<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

</head>
<body>
    <%- include ('../includes/navBar.ejs') %>
    <div class="jumbotron text-center">
        <div class="container">
            <h1><%= title %></h1>
        </div>
    </div>

    <% if(owner === null){owner = false} %>

    <div class="container">
        <% if(owner){ %>
          <form action="/add-art" method=get>
              <button type="submit">Add Art</button>
           </form>
        <%}%>
          <ul class="gallery">
            <% for(i = 0; i < itemList.length; i++){ %>
              <li class="galleryItem">
                      <h2><%= itemList[i].title %> </h2>             
                      <img src= "/<%= itemList[i].image %>"></img>
                      <p>Date Uploaded: <%= itemList[i].dateAdded.toDateString() %></p>
                      <!-- Add username -->
                      <form action="/view-art" method=get>
                         <button type="submit">View Details</button>
                          <input type="hidden" name="artId" value="<%= itemList[i]._id %>">
                      </form>
                      <div>
                        <% if(owner){ %>
                        <form action="/edit-art" method=get>
                            <button type="submit">Edit</button>
                            <input type="hidden" name="artId" value="<%= itemList[i]._id %>">
                        </form>
                        <form action="/delete-art" method=get>
                          <button type="submit">Delete</button>
                          <input type="hidden" name="artId" value="<%= itemList[i]._id %>">
                        </form>
                        <%}%>
                      </div>
                  </form>
              </li> 
            <% } %>
          </ul>
      </div>
</body>
</html>