<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Details</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
    <%- include ('../includes/navBar.ejs') %>
    <div class="art-view">
        <% if (art !== null) { %>
        <article>
            <header>
                <h1><%= art.title %></h1>
            </header>
            <div>
                <img src="<%= art.image %>" alt="<%= art.title %>">
            </div><br> 
            <div>
                <p><%= art.description %></p>
            </div>
        </article>
        <% } else { %>
        <h1>No artwork found!</h1>
        <% } %>
    </div>
</body>
</html>